<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCW"
        tools:targetApi="31">
        <activity
            android:name=".AdvanceActivity2"
            android:exported="false"
            android:label="@string/title_activity_advance2"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".GuessTheFlagActivity"
            android:exported="false"
            android:label="@string/title_activity_guess_the_flag"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".GuessTheHintsActivity"
            android:exported="false"
            android:label="@string/title_activity_guess_the_hints"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".GuessTheCountryActivity"
            android:exported="false"
            android:label="@string/title_activity_guess_the_country"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".ButtonFourScreen2"
            android:exported="false"
            android:label="@string/title_activity_button_four_screen2"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".ButtonThreeScreen2"
            android:exported="false"
            android:label="@string/title_activity_button_three_screen2"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".ButtonTwoScreen2"
            android:exported="false"
            android:label="@string/title_activity_button_two_screen2"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".ButtonOneScreen2"
            android:exported="false"
            android:label="@string/title_activity_button_one_screen2"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".NextPage"
            android:exported="false"
            android:label="@string/title_activity_next_page"
            android:theme="@style/Theme.MobileCW" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MobileCW">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>